@import 'header';
@import 'reset';
@import 'main-part';
@import 'fruits-part';
@import 'slider-products';
@import 'superfoods';
@import 'walnut';
@import 'meat';
@import 'comments';
@import 'news';
@import 'footer';


.width-90{
    width: 90%;
}
.width-95{
    width: 95%;
}
.width-100{
    width: 100%;
}
.width-85{
    width: 85%;
}
.width-80{
    width: 80%;
}
.width-75{
    width: 75%;
}
.width-70{
    width: 70%;
}